 .u-section-1 {
  background-image: linear-gradient(45deg, #adf6f2, #fbeced);
}

.u-section-1 .u-sheet-1 {
  min-height: 661px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 11px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 41px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(20% - 17.6px) calc(20% - 17.6px) calc(20% - 17.6px) calc(20% - 17.6px) calc(20% - 17.6px);
  min-height: 381px;
  grid-gap: 22px 22px;
  grid-auto-columns: calc(20% - 17.6px);
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-group-1 {
  min-height: 50px;
  width: 50px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 20px 1px 0 0;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 20px auto 0 0;
  padding: 6px 31px 6px 30px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-group-2 {
  min-height: 50px;
  width: 50px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 20px 1px 0 0;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 20px auto 0 0;
  padding: 6px 31px 6px 30px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-group-3 {
  min-height: 50px;
  width: 50px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 20px 1px 0 0;
}

.u-section-1 .u-text-11 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 20px auto 0 0;
  padding: 6px 31px 6px 30px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-group-4 {
  min-height: 50px;
  width: 50px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: 20px 1px 0 0;
}

.u-section-1 .u-text-14 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 20px auto 0 0;
  padding: 6px 31px 6px 30px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-group-5 {
  min-height: 50px;
  width: 50px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-15 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  margin: 20px 1px 0 0;
}

.u-section-1 .u-text-17 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 20px auto 0 0;
  padding: 6px 31px 6px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(5, calc(20% - 17.6px));
    min-height: 314px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 938px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 14.666666666666666px));
    min-height: 802px;
    grid-auto-columns: calc(33.333333333333336% - 14.666666666666666px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height: 1353px;
    grid-auto-columns: calc(50% - 11px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-12 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-15 {
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}